<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>95283494754-1pamsg5ng2dkgm0no8mhsi2p1bi10mc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95283494754-1pamsg5ng2dkgm0no8mhsi2p1bi10mc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDU0VzbQ-hKA7hIyJ5MvUgQVft15P7Cf54</string>
	<key>GCM_SENDER_ID</key>
	<string>95283494754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aspaz.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>aspaz-8582f</string>
	<key>STORAGE_BUCKET</key>
	<string>aspaz-8582f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:95283494754:ios:d96516a3e36c63cb</string>
	<key>DATABASE_URL</key>
	<string>https://aspaz-8582f.firebaseio.com</string>
</dict>
</plist>